<!-- 这是管理员的页面 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>眼底图像标注系统</title>
    <script src="../../lib/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <div class="my-header">
            <el-header>
                <el-row>
                    <el-col></el-col>
                    <el-col><h1 @click="goHome">眼底图像标注系统</h1></el-col>
                </el-row>
                <el-row>
                    <el-col>
                    <el-tabs v-model="activeTab" @tab-click="clickTab">
                        <el-tab-pane label="图像列表" name="ImageList">图像列表</el-tab-pane>
                        <el-tab-pane label="任务列表" name="TaskList">任务列表</el-tab-pane>
                        <el-tab-pane label="账户列表" name="AccountList">账户列表</el-tab-pane>
                        <el-tab-pane label="设置" name="Settings">设置</el-tab-pane>
                    </el-tabs>
                    </el-col>
                </el-row>
            </el-header>
            </div>

            <el-main>
                <el-card>
                    <el-row><el-col>
                        <el-breadcrumb separator="/">
                            <el-breadcrumb-item v-for="item in breadcrumb">{{ item }}</el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col></el-row>

                    <div v-if="currentPage === 'ImageList'">
                        <el-row>
                            <div class="my-operation">
                                <!-- <el-button icon="el-icon-refresh" type="text">刷新</el-button> -->
                                <el-button>导入图像</el-button>
                                <el-button type="primary">分配/确认</el-button>
                            </div>
                        </el-row>

                        <el-row>
                            <el-table :data="getImages()" stripe @row-click="clickImage">
                                <el-table-column type="selection" width="55"></el-table-column>
                                <el-table-column prop="name" label="名称" sortable></el-table-column>
                                <el-table-column prop="status" label="状态" sortable></el-table-column>
                            </el-table>
                        </el-row>

                        <el-row>
                            <el-pagination
                                @size-change="changeImagePageSize"
                                @current-change="changeImagePageCurrent"
                                :current-page="imagePageCurrent"
                                :page-sizes="imagePageSizes"
                                :page-size="imagePageSize"
                                layout="total, sizes, prev, pager, next, jumper"
                                :total="images.length">
                            </el-pagination>
                        </el-row>
                    </div>

                    <div v-if="currentPage === 'TaskList'">
                        <!-- <el-row>
                            <div class="my-operation">
                                <el-button icon="el-icon-refresh" type="text">刷新</el-button>
                            </div>
                        </el-row> -->
    
                        <el-row>
                            <el-table :data="tasks" stripe @row-click="clickTask">
                                <el-table-column width="55"></el-table-column>
                                <el-table-column prop="name" label="名称" sortable></el-table-column>
                                <el-table-column prop="status" label="状态" sortable></el-table-column>
                            </el-table>
                        </el-row>
                    </div>

                    <div v-if="currentPage === 'AccountList'">
                        <el-row>
                            <div class="my-operation">
                                <!-- <el-button icon="el-icon-refresh" type="text">刷新</el-button> -->
                                <!-- <el-button type="primary" @click="setAccounts">修改权限</el-button> -->
                            </div>
                        </el-row>
    
                        <el-row>
                            <el-table :data="accounts" stripe @row-click="clickAccount">
                                <el-table-column width="55"></el-table-column>
                                <el-table-column prop="id" label="工号" sortable></el-table-column>
                                <el-table-column prop="status" label="权限身份" sortable></el-table-column>
                                <el-table-column prop="email" label="邮箱"></el-table-column>
                            </el-table>
                            <el-dialog title="修改权限" :visible.sync="setAccountStatusDialogVisible">
                                <el-form :model="setAccountStatusForm">
                                    <el-form-item>
                                        <el-row><el-col>
                                        <el-select v-model="setAccountStatusForm.newStatus" placeholder="请选择权限">
                                        <el-option label="医生" value="doctor"></el-option>
                                        <el-option label="客人" value="guest"></el-option>
                                        <el-option label="无权限" value="none"></el-option>
                                        </el-select>
                                        <el-button type="primary" @click="setAccountStatus">确 定</el-button>
                                        </el-col></el-row>
                                    </el-form-item>
                                </el-form>
                                <!-- <span slot="footer" class="dialog-footer">
                                    <el-button @click="setAccountStatusDialogVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="setAccountStatus">确 定</el-button>
                                </span> -->
                            </el-dialog>
                        </el-row>
                    </div>

                    <div v-if="currentPage === 'Settings'">
                        <el-row>
                            <el-form :model="accountForm">
                                <el-form-item label="ID">
                                    <el-input v-model="accountForm.ID" :disabled="true" :placeholder="accountForm.ID"></el-input>
                                </el-form-item>
                                <el-form-item label="账号">
                                    <el-input v-model="accountForm.account" :disabled="true" :placeholder="accountForm.account"></el-input>
                                </el-form-item>
                                <el-form-item label="权限">
                                    <el-input v-model="accountForm.status" :disabled="true" :placeholder="accountForm.status"></el-input>
                                </el-form-item>
                                <el-form-item label="密码">
                                    <el-input v-model="accountForm.password"></el-input>
                                </el-form-item>
                                <el-form-item label="邮件">
                                    <el-input v-model="accountForm.email"></el-input>
                                </el-form-item>
                                <el-form-item>
                                        <el-button type="primary" @click="changeAccountInfo">修改账户信息</el-button>
                                </el-form-item>
                            </el-form>
                        </el-row>
                    </div>

                </el-card>
            </el-main>

            <el-footer></el-footer>
        </el-container>
    </div>
</body>
<link rel="stylesheet" href="../../css/index.css">
<script src="../../js/administrator.js"></script>
</html>