<!-- 这是系统的入口页面，包括登录和注册操作 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>眼底图像标注系统</title>
    <script src="../lib/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <!-- <div class="my-header">
            <el-header>
                <el-row>
                    <el-col></el-col>
                    <el-col><h1>眼底图像标注系统</h1></el-col>
                </el-row>
                <el-row>
                    <el-col>
                    <el-tabs v-model="activeTab" @tab-click="clickTab">
                        <el-tab-pane label="用户登录" name="login">用户登录</el-tab-pane>
                        <el-tab-pane label="用户注册" name="register">用户注册</el-tab-pane>
                    </el-tabs>
                    </el-col>
                </el-row>
            </el-header>
            </div> -->

            <el-main>
                <el-row>
                    <el-col :span="6" :offset="8">
                    <el-card>
                        <el-form>
                            <div class="my-heading"><h2>眼底图像标注系统</h2></div>
                            <div class="my-heading"><p>请输入你的信息</p></div>
                            <div v-if="isLogin" :model="loginForm">
                                <el-form-item><el-input placeholder="账号" v-model="loginForm.account"></el-input></el-form-item>
                                <el-form-item><el-input type="password" placeholder="密码" v-model="loginForm.password"></el-input></el-form-item>
                                <el-form-item><el-button type="primary" @click="login" style="display: block; width: 100%;">登录</el-button></el-form-item>
                            </div>
                            <div v-else>
                                <div class="my-heading"><h4>注册</h4></div>
                                <el-form-item><el-input placeholder="工号"></el-input></el-form-item>
                                <el-form-item><el-input placeholder="账号"></el-input></el-form-item>
                                <el-form-item><el-input placeholder="邮箱"></el-input></el-form-item>
                                <el-form-item><el-input type="password" placeholder="密码"></el-input></el-form-item>
                                <el-form-item><el-input type="password" placeholder="确认密码"></el-input></el-form-item>
                                <el-form-item>
                                    <div>
                                        <el-upload action="" style="display: block; width: 100%;">
                                            <el-button style="display: block; width: 100%;"><i class="el-icon-upload"></i>上传照片</el-button>
                                        </el-upload>
                                    </div>
                                </el-form-item>
                                <el-form-item><el-button type="primary" @click="" style="display: block; width: 100%;">注册</el-button></el-form-item>
                            </div>
                        </el-form>
                    </el-card>
                    <div class="my-heading">
                        <div v-if="isLogin">
                            <p>没有账号？<el-button type="text" @click="clickTab">注册</el-button></p>
                        </div>
                        <div v-else>
                            <p>已有账号？<el-button type="text" @click="clickTab">登录</el-button></p>
                        </div>
                    </div>
                    </el-col>
                </el-row>
            </el-main>

            <el-footer></el-footer>
        </el-container>
    </div>
</body>
<link rel="stylesheet" href="../css/index.css">
<script src="../js/index.js"></script>
<script src="../lib/jquery-3.3.1.js"></script>
</html>