<!-- 这是系统的入口页面，包括登录和注册操作 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>眼底图像标注系统</title>
    <script src="../lib/vue.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <div class="my-header">
            <el-header>
                <el-row>
                    <el-col></el-col>
                    <el-col><h1>眼底图像标注系统</h1></el-col>
                </el-row>
                <el-row>
                    <el-col>
                    <el-tabs v-model="activeTab" @tab-click="clickTab">
                        <el-tab-pane label="用户登录" name="login">用户登录</el-tab-pane>
                        <el-tab-pane label="用户注册" name="register">用户注册</el-tab-pane>
                    </el-tabs>
                    </el-col>
                </el-row>
            </el-header>
            </div>

            <el-main>
                <el-row>
                    <el-col :span="10" :offset="6">
                    <el-card>
                        <el-form>
                            <div v-if="isLogin">
                                <el-form-item><el-input placeholder="账户"></el-input></el-form-item>
                                <el-form-item><el-input type="password" placeholder="密码"></el-input></el-form-item>
                                <el-form-item><el-button type="primary" @click="">登录</el-button></el-form-item>
                            </div>
                            <div v-else>
                                <el-form-item><el-input placeholder="工号"></el-input></el-form-item>
                                <el-form-item><el-input placeholder="账户"></el-input></el-form-item>
                                <el-form-item><el-input placeholder="邮箱"></el-input></el-form-item>
                                <el-form-item><el-input type="password" placeholder="密码"></el-input></el-form-item>
                                <el-form-item><el-input type="password" placeholder="确认密码"></el-input></el-form-item>
                                <el-form-item><el-button type="primary" @click="">注册</el-button></el-form-item>
                            </div>
                        </el-form>
                    </el-card>
                    </el-col>
                </el-row>
            </el-main>

            <el-footer></el-footer>
        </el-container>
    </div>
</body>
<link rel="stylesheet" href="../css/index.css">
<script src="../js/index.js"></script>
</html>