@font-face {
    font-family: roboto-regular;
    src: url(../../assets/fonts/Roboto-Regular.ttf)
}

@font-face {
    font-family: roboto-medium;
    src: url(../../assets/fonts/Roboto-Medium.ttf)
}

* {
    font-family: roboto-regular, "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

h1:hover {
    cursor: pointer;
}

.el-upload {
    display: block;
    width: 100%;
}
.el-breadcrumb {
    /* border-bottom: 2px gray; */
    height: 40px;
}

.my-header {
    height: auto;
}
.my-heading {
    margin: auto;
    text-align: center;
}
.my-button {
    width: 100%;
}